#menubar {
	position:relative;
	margin:0px;
	padding:0px;
	background: #C3C8DF; 
	background-repeat: repeat-x;
	width:100%;
	color:#000;
	text-align: left;
    padding: 10px 0px;
	text-align:center;
}

#menubar_container {
	position:relative;
	margin:0 auto;
	clear: both;
  	overflow: hidden;
	text-align:left;
}

.menu_item
{
	float:left;
	width:65px;
	height:100%;
	text-align:center;	
}


#menubar a:link, #menubar a:visited, #menubar a
{
	color:#000;
	text-decoration:underline;
}

#menubar a:hover
{
	color:#000;
	text-decoration:underline;	
}

.menu_item
{
	font-size:11px;
}

#menubar_company_info
{
	position:absolute;
	left:0px;
	top:0px;
	width:250px;
	height:80px;
}

#company_title
{
	font-size:14px;
	font-weight:bold;
}

#menubar_navigation {
	float: right;
}

#menubar_footer
{
	position:absolute;
	top:80px;
	left:0px;
	height:17%;
	padding-top:3px;
	font-size:10px;
	font-weight:bold;
}

#menubar_date
{
	position:absolute;
	top:80px;
	right:0px;
	height:17%;
	padding-top:3px;
	font-size:10px;
	font-weight:bold;
}